<div id="proyectos" class="card card-margin" style="margin-bottom: 0px;">
    <div class="card-header">
        <h2 class="card-title text-center">Proyectos Realizados</h2>
    </div>
    <div class="card-body">
        <div class="row card-margin">
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <img class="card-img-top" src="assets/img/Wattson-php.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Portfolio test</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, dolorum. Sint eveniet dolorem..</p>
                        <button class="btn btn-success">Ver Proyecto</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card card-interior">
                    <div class="card-header">
                        <img class="card-img-top" src="assets/img/Wattson-php.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Portfolio test</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, dolorum. Sint eveniet dolorem..</p>
                        <button class="btn btn-success">Ver Proyecto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>