<div id="experiencias_Laborales" class="card card-margin">
    <div class="card-header">
        <h2 class="card-title text-center">Educación</h2>
    </div>
    <div class="card-body">
        <div class="container-fluid">
        <div class="row">
            <div class="col-3">
            <img src="assets/img/Wattson-php.jpg" alt="Ejemplo Logo Estudio" class="rounded-circle img-fluid mx-auto d-block logo"><!--Logo de la Educacion-->
            </div>
            <div class="col-9">
            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Estudio x</h4>
                </div>
                <div class="card-body">
                <ul class="card-text">
                    <li>Titulo: </li>
                    <li>Institucion: </li>
                    <li>Fecha de Inicio: dd/mm/aaaa</li>
                    <li>Fecha de Finalizacion: dd/mm/aaaa | Actualidad | </li>
                    <li>Resumen: (Opcional)<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
            <img src="assets/img/Wattson-php.jpg" alt="Ejemplo Logo Estudio" class="rounded-circle img-fluid mx-auto d-block logo"><!--Logo de la Educacion-->
            </div>
            <div class="col-9">
            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Estudio x</h4>
                </div>
                <div class="card-body">
                <ul class="card-text">
                    <li>Titulo: </li>
                    <li>Institucion: </li>
                    <li>Fecha de Inicio: dd/mm/aaaa</li>
                    <li>Fecha de Finalizacion: dd/mm/aaaa | Actualidad | </li>
                    <li>Resumen: (Opcional)<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>