<div id="footer" class="bg-dark text-light">
    <div class="row">
        <div class="col-12 text-center">Albornoz Laura Soledad | @ Argentina Programa 2022</div>
        <div class="col-12 text-center">San Luis, Argentina</div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <i id="red_github" class="fa-brands fa-github fa-2xl"></i>
        <i id="red_linkedin" class="fa-brands fa-linkedin fa-2xl"></i>
        <i id="red_facebook" class="fa-brands fa-facebook fa-2xl"></i>
        <i id="red_twitter" class="fa-brands fa-twitter fa-2xl"></i>
        </div>
    </div>
</div>