<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-lg-12 col-xl-6">
        <div class="card card-margin">
            <h2 class="card-header text-center">Contacto</h2>
            <div class="card-body">
                <div class="card"> <!-- FORM -->
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col-12">
                                    <label for="asunto">Asunto:</label>
                                    <input type="asunto" class="form-control" id="asunto" name="asunto">
                                    <br>
                                    <label for="email">Ingresa tu Email:</label>
                                    <input type="text" class="form-control" id="email" name="email">
                                    <br>
                                    <label for="comment">Mensaje:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                    <br>
                                    <button class="btn">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>