<div id="experiencias_Laborales" class="card card-margin">
    <div class="card-header">
        <h2 class="card-title text-center">Experiencia Laboral</h2>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <img src="assets/img/Wattson-php.jpg" alt="Ejemplo Logo Empresa" class="rounded-circle img-fluid mx-auto d-block logo">
                </div>
                <div class="col-lg-9">
                    <div class="card card-interior">
                        <div class="card-header">
                            <h4 class="card-title">Trabajo x</h4>
                        </div>
                        <div class="card-body">
                            <ul class="card-text">
                                <li>Puesto: </li>
                                <li>Fecha de Inicio: dd/mm/aaaa</li>
                                <li>Fecha de Finalizacion: dd/mm/aaaa | Actualidad | </li>
                                <li>Resumen: (Opcional)<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <img src="assets/img/Wattson-php.jpg" alt="Ejemplo Logo Empresa" class="rounded-circle img-fluid mx-auto d-block logo">
                </div>
                <div class="col-lg-9">
                    <div class="card card-interior">
                        <div class="card-header">
                            <h4 class="card-title">Trabajo x</h4>
                        </div>
                        <div class="card-body">
                            <ul class="card-text">
                                <li>Puesto: </li>
                                <li>Fecha de Inicio: dd/mm/aaaa</li>
                                <li>Fecha de Finalizacion: dd/mm/aaaa | Actualidad | </li>
                                <li>Resumen: (Opcional)<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>