<h3>HEADER</h3>
<header style="background-color: antiquewhite;">
  <span>{{argProg}}</span>
  <br/>
  <span>{{title}}</span>
  <br/>
  <span>Redes Sociales</span>
  <ul>
    <li><a href="https://www.linkedin.com/in/laura-soledad-albornoz-01/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/AlbLaura" target="_blank">GitHub</a></li>
    <li><a href="https://www.facebook.com/laura.s.albornoz.3/" target="_blank">Facebook</a></li>
  </ul>
</header>
<br>
<h3>SECTIONS</h3>
<section style="background-color: rgb(255, 174, 127);">
  <h4>Login... *Oculto(?*</h4>
</section>
<section style="background-color: antiquewhite;">
  <h4>Acerca de...</h4>
</section>
<section style="background-color: rgb(255, 174, 127);">
  <h4>Experiencia...</h4>
</section>
<section style="background-color: antiquewhite;">
  <h4>Educacion...</h4>
</section>
<section style="background-color: rgb(255, 174, 127);">
  <h4>Hard & Soft Skills...</h4>
</section>
<section style="background-color: antiquewhite;">
  <h4>Proyectos...</h4>
</section>
<br>
<h3>FOOTER</h3>
<footer  style="background-color: bisque;">

  <span>{{argProg}}</span>
</footer>