<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex">
    <a class="navbar-brand mr-auto">
      <img src="../assets/img/ar-prog_logo.png" class="img-fluid" alt="ap logo" style="width:100px;">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item redes">
        <a class="nav-link"><i id="red_github" class="fa-brands fa-github fa-2xl"></i></a>
      </li>
      <li class="nav-item redes">
        <a class="nav-link"><i id="red_linkedin" class="fa-brands fa-linkedin fa-2xl"></i></a>
      </li>
      <li class="nav-item redes">
        <a class="nav-link"><i id="red_facebook" class="fa-brands fa-facebook fa-2xl"></i></a>
      </li>
      <li class="nav-item redes">
        <a class="nav-link"><i id="red_twitter" class="fa-brands fa-twitter fa-2xl"></i></a>
      </li>
    </ul>
    <button id="login_button" class="btn btn-outline-secondary ml-4"><i class="fa-solid fa-user"></i> Login</button>
  </nav>
</header>

<section class="fondoUsuario">
  <div>
    <div id="banner"><!-- Banner-->
      <img src="../assets/img/banner-test.jpg" class="img-fluid" alt="banner">
    </div>
    <div id="usuario-icon"><!-- Usuario-->
      <img src="../assets/img/Wattson-php.jpg" class="rounded-circle " alt="icono del usuario">
    </div>
  </div>
</section>

<section> <!-- ACERCA DE-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="card" id="datos">
          <div class="card-body text-center">
            <h3 class="card-title text-center">Laura Soledad Albornoz</h3>
            <span class="card-text">Ilustrador - Fullstack Developer</span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card" id="acercaDe">
          <div class="card-header">
            <h2 class="card-title">Acerca de mi</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ipsa ducimus odit dolorem accusamus quis autem? Odio exercitationem nesciunt ab consequatur qui accusantium? Cupiditate adipisci id ex. Quia, iusto doloremque?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section> <!-- EXPERIENCIAS LABORALES -->
  <div id="experiencias_Laborales" class="card" style="margin: 50px;">
    <div class="card-header">
      <h2 class="card-title text-center">Experiencia Laboral</h2>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <!--Logo de la empresa-->
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Trabajo x</h4>
              </div>
              <div class="card-body">
                <ul class="card-text">
                  <li>Puesto: </li>
                  <li>Fecha de Inicio: </li>
                  <li>Fecha de Finalizacion: </li>
                  <li>Resumen: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <!--Logo de la empresa-->
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Trabajo x</h4>
              </div>
              <div class="card-body">
                <ul class="card-text">
                  <li>Puesto: </li>
                  <li>Fecha de Inicio: </li>
                  <li>Fecha de Finalizacion: </li>
                  <li>Resumen: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section> <!-- EDUCACION -->
  <div id="experiencias_Laborales" class="card" style="margin: 50px;">
    <div class="card-header">
      <h2 class="card-title text-center">Educación</h2>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <!--Logo de la Educacion-->
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Estudio x</h4>
              </div>
              <div class="card-body">
                <ul class="card-text">
                  <li>Puesto: </li>
                  <li>Fecha de Inicio: </li>
                  <li>Fecha de Finalizacion: </li>
                  <li>Resumen: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <!--Logo de la Educacion-->
          </div>
          <div class="col-9">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Estudio x</h4>
              </div>
              <div class="card-body">
                <ul class="card-text">
                  <li>Puesto: </li>
                  <li>Fecha de Inicio: </li>
                  <li>Fecha de Finalizacion: </li>
                  <li>Resumen: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cum? Adipisci repellendus odit, repudiandae nulla architecto laboriosam ea enim unde exercitationem error ad minima mollitia atque totam illo dolore necessitatibus?</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section> <!-- HARD AND SOFT SKILLS-->
  <div id="skills" class="card" style="margin: 50px;">
    <div class="card-header">
      <h2 class="card-title text-center">Hard & Soft Skills</h2>
    </div>
    <div class="card-body" >
      <h4 class="card-title text-center">Hard</h4>
      <div class="card-columns" style="margin: 50px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">HTML</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">CSS</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">JS</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Angular</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Java</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">SpringBoot</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <h4 class="card-title text-center">Soft</h4>
      <div class="card-columns" style="margin: 50px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Comunicacion</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Liderazgo</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Resolver Problemas</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Organizado</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Optimismo</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Trabajo en Equipo</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" style="width:70%">70%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section><!-- PROYECTOS -->
  <div id="proyectos" class="card" style="margin: 0px 50px 0px 50px;">
    <div class="card-header">
      <h2 class="card-title text-center">Proyectos Realizados</h2>
    </div>
    <div class="card-body">
      <div class="card-deck"  style="margin: 50px;">
        <div class="card">
          <div class="card-header">
            <img class="card-img-top" src="../assets/img/Wattson-php.jpg">
          </div>
          <div class="card-body">
            <h4 class="card-title">Portfolio test</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, dolorum. Sint eveniet dolorem..</p>
            <button class="btn btn-success">Ver Proyecto</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img class="card-img-top" src="../assets/img/Wattson-php.jpg">
          </div>
          <div class="card-body">
            <h4 class="card-title">Portfolio test</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, dolorum. Sint eveniet dolorem..</p>
            <button class="btn btn-success">Ver Proyecto</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img class="card-img-top" src="../assets/img/Wattson-php.jpg">
          </div>
          <div class="card-body">
            <h4 class="card-title">Portfolio test</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, dolorum. Sint eveniet dolorem..</p>
            <button class="btn btn-success">Ver Proyecto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section> <!-- CONTACTO-->
  <div class="row" style="margin-right: 0px;">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card" style="margin: 50px;">
        <h2 class="card-header text-center">Contacto</h2>
        <div class="card-body">
          <div class="card"> <!-- FORM -->
            <div class="card-body">
              <form action="">
                <div class="row">
                  <div class="col-12">
                    <label for="asunto">Asunto:</label>
                    <input type="asunto" class="form-control" id="asunto" name="asunto">
                    <br>
                    <label for="email">Ingresa tu Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <br>
                    <label for="comment">Mensaje:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</section>

<footer>
  <div id="footer" class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-12 text-center">Albornoz Laura Soledad | @ Argentina Programa 2022</div>
      <div class="col-12 text-center">San Luis, Argentina</div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <i id="red_github" class="fa-brands fa-github fa-2xl footer"></i>
        <i id="red_linkedin" class="fa-brands fa-linkedin fa-2xl footer"></i>
        <i id="red_facebook" class="fa-brands fa-facebook fa-2xl footer"></i>
        <i id="red_twitter" class="fa-brands fa-twitter fa-2xl footer"></i>
      </div>
    </div>
  </div>
</footer>