<div id="skills" class="card card-margin">
    <div class="card-header">
        <h2 class="card-title text-center">Hard & Soft Skills</h2>
    </div>
    <div class="card-body" >
        <div class="card">
            <div class="card-body">
                <div class="row"> <!-- HARD SKILLS -->
                    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
                        <h4 class="card-title text-center">HTML</h4>
                        <circle-progress
                            [percent] = 95
                            [imageSrc]= "'../../assets/img/html.png'"
                        ></circle-progress>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
                        <h4 class="card-title text-center">CSS</h4>
                        <circle-progress
                            [percent] = 85
                            [imageSrc]= "'../../assets/img/css.png'"
                        ></circle-progress>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
                        <h4 class="card-title text-center">JS</h4>
                        <circle-progress
                            [percent] = 40
                            [imageSrc]= "'../../assets/img/javascript.png'"
                        ></circle-progress>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3 text-center">
                        <h4 class="card-title text-center">Java</h4>
                        <circle-progress
                            [percent] = 50
                            [imageSrc]= "'../../assets/img/java.png'"
                        ></circle-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>