<div class="row card-margin">
    <div class="col-xs-12 col-lg-3">
        <img src="assets/img/Wattson-php.jpg" class="rounded-circle " alt="icono del usuario" id="usuario-icon">
        <div class="card" id="datos">
            <div class="card-body text-center">
                <h3 class="card-title text-center" id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
                <span class="card-text">Ilustrador - Fullstack Developer</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-9">
        <div id="acercaDe" class="card">
            <div class="card-header">
                <h2 class="card-title">Acerca de mi</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ipsa ducimus odit dolorem accusamus quis autem? Odio exercitationem nesciunt ab consequatur qui accusantium? Cupiditate adipisci id ex. Quia, iusto doloremque?</p>
            </div>
        </div>
    </div>
</div>