#datos {
    margin-top: 5%;
}
.card-margin {
    margin: 35px;
}
h2 {
    margin: 0px;
}
#usuario-icon {
    position: absolute;
}
/*resize icono del usuario*/
@media (min-width: 992px) {
    #usuario-icon {
        width: 40%;
        left: 30%;
        bottom: 100%;
    }
}
@media (max-width: 991px) {
    #usuario-icon {
        width: 30%;
        left: 35%;
        bottom: 80%;
    }
}
@media (max-width: 716px) {
    #usuario-icon {
        width: 30%;
        left: 35%;
        bottom: 85%;
    }
}